.idea
.DS_Store
.vscode/*
banners
imgs
*.sh
*.log
*/go/*
.htaccess
sitemap.xml
sitemap.xml.gz
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/wp-cache-config.php
wp-content/index.php
wp-content/plugins/hello.php
wp-content/plugins/index.php
wp-content/plugins/wp-security-audit-log

wp-content/db.php
wp-content/object-cache.php
wp-content/w3tc-config/
wp-content/w3tc-config/master-admin.php
wp-content/w3tc-config/master.php


# WP Rocket
wp-content/plugins/wp-rocket/cache.json
wp-content/wp-rocket-config/*

# Redirection plugin
wp-content/plugins/v-catena-redirections/admin/data/*
redirections.log


# Temporary ignore parent theme
/wp-content/themes/newcasinos-parent
/.htpasswd

temp.php
blocks/unused/*
debug*.php
page-debug.php

# Node
logs
*.pid
*.seed
lib-cov
coverage
.grunt
.lock-wscript
build/Release
node_modules
wp-content/themes/wpex-status-child/assets/node_modules
npm-debug.log
.sass-cache
bower_components
wp-content/themes/mrbet/grunt/source/*/lib/*
license.txt
readme.html
wp-content/themes/twenty*/

nginx.conf
